.Order-id-Container{
    height:10vw;
    width:77vw;
    background-color: #fff;
    box-shadow:1px 1px 5px black ;
    border-width:0px;
    margin-top:10px;
}
.order-id{
    display: flex;
    justify-content: row;
    justify-content: flex-start;
    align-items:center;
    margin: 11px;
    
}
.Order-name{
    font-size:10px;
}

.arrow-img{
    height:14px;
    width:14px;
    padding:16px;
}
.Order{
    text-decoration: underline;
    padding-top:4px;
    font-size:10px;
}
.order-cnfm-container{
    display: flex;
    justify-content: row;
    justify-content: space-between;
    align-items:center;
}
.order-324{
    margin:16px;
    color:black;
    font-size: 19px;
    font-family: "Roboto";
    font-weight: bolder;
}

.Approved-button-container{
    display: flex;
    justify-content: row;
    justify-content: flex-end;
    align-items:center;
    margin:19px;
}
.back-button{
    background-color:transparent;
    border-color:green;
    border-width:1px;
    height:40px;
    width:65px;
    border-radius:15px;
    margin:10px;
    color:green;
}
.Approved-button{
    background-color:green;
    border-color:green;
    border-width:1px;
    height:40px;
    width:120px;
    border-radius:15px;
    margin:10px;
    color:#fff;
}
.chevron-right{
    height:9px;
    width:9px;
    margin:13px;
    font-size:18px;
}