body{
    margin:10px;
    height:175vh;
    width:150vw;
    background: transparent;
    border-width:0px;
    border-color:grey;
    border:1px solid;
    box-shadow: 1px 1px 2px black;
}
.xx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}